/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1400px) {
	.gallery-wrapper {
		padding-left: 100px;
		padding-right: 100px;
	}
}
@media only screen and (max-width : 1400px) {
	.gallery-wrapper {
		padding-left: 0;
		padding-right: 0;
	}
	.error {
		padding-top: 30px;
		padding-bottom: 55px;
	} 
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.footer__bottom {
		padding-left: 0;
	}
	.footer__bottom .list-payments {
		margin-right: 30px;
	}
	body {
		font-size: 14px;
	}
	.item-billbord__content {
		right: 80px;
	}
	.item-billbord__image {
		height: 505px;
	}
	.menu li {
		margin-right: 9px;
	} 
	.menu {
		font-size: 13px;
	}
	.btn_nav {
		margin-right: -15px;
	}
	.item-category__image {
		height: 240px;
	}
	.logo img {
		width: 185px;
	}
	.btn-menu {
		margin-right: 14px;
	}
	.location {
		font-size: 12px;
	}
	.descr-main {
		font-size: 19px;
	}
	.banner {
		padding: 24px 25px;
		padding-right: 95px;
	}
	.banner__content {
		font-size: 21px;
		line-height: 27px;
		padding: 21px 23px;
	}
	.recomendation {
		margin-left: calc((100% - 900px)/2);
	}
	.card-video,
	.slider-nav {
		margin-right: -20px;
	}
	.title-slide {
		padding-left: 0;
	}
	.swiper-gallery {
		margin-left: calc((100% - 910px)/2);
	}
	.swiper-gallery .swiper-slide {
		max-width: 800px;
	}
	.item-gallery {
		height: 390px;
	}
	.swiper-gallery .swiper-arrows {
		max-width: 780px;
	}
	.dropdown-container {
		padding-top: 60px;
	}
	.gallery-wrapper .slider-for__item {
		height: 90vh;
	}
	.gallery-wrapper {
		padding-top: 5vh;
	}
	.image-step {
		transform: scale(0.9);
	}
	.content-step {
		font-size: 16px;
	}
	.custom-made__right {
		margin-left: 0;
	}
	.title-inspiration {
		font-size: 26px;
		line-height: 31px;
	}
	.image-inspiration {
		height: 335px;
	}
	.row_about_1 {
		margin-top: 40px;
	}
	.row_about_2 {
		margin-top: -90px;
		margin-bottom: 50px;
	}
	.row_about_2 .about-main__text {
		padding-bottom: 25px;
	}
	.thanks .title-common {
		padding-bottom: 35px;
	}
	.item-gift__image img {
		max-width: 86%;
	}
	.item-gift__image {
		display: inline-block;
	}
	.card__right-sertificat {
		padding-top: 0;
		padding-left: 15px;
	}

	/*personal*/
	.nav-personal {
		font-size: 14px;
		line-height: 18px;
	}
	.line-form .item-form {
		width: 300px;
		margin-right: 15px;
	}
	.line-form__title {
		margin-right: 15px;
	}
	.column-min {
		width: 28%;
	}
	.price-basket {
		font-size: 22px;
		line-height: 27px;
	}
	.total-basket__left {
		margin-right: 5px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.menu {
		display: none;
	}
	.header__right .basket-header,
	.header__right .btn-basket,
	.header__right .location,
	.header__right .social-list {
		display: none;
	}
	.header__left {
		position: static;
	}
	.header .container {
		position: relative;
	}
	.btn_nav {
		margin: 0;
		position: absolute;
		top: 12px;
		right: 15px;
	}
	.btn-search {
		margin: 0;
		position: absolute;
		top: 14px;
		left: 15px;
		z-index: 2;
	}
	.header .logo img {
		max-width: 150px;
	}
	.title-page {
		font-size: 42px;
		line-height: 45px;
	}
	.item-billbord .title-page {
		margin-bottom: 40px;
	}
	.item-billbord__image {
		height: 455px;
	}
	.item-about {
		margin-bottom: 20px;
	}
	.swiper-news {
		margin-left: calc((100% - 765px)/2);
	}
	.footer__content {
		display: none;
	}
	.footer__bottom {
		flex-direction: column;
		align-items: flex-start;
	}
	.footer__bottom .list-payments {
		margin: 0;
		margin-bottom: 20px;
	}
	.footer__top {
		display: block;
	}
	.footer .row > div {
		position: static;
	}
	.footer .copyright {
		position: absolute;
		bottom: 0;
		left: 15px;
	}
	.footer .container {
		position: relative;
	}
	.create {
		margin-left: auto;
	}
	.footer__left {
		margin-bottom: 15px;
	}
	.catalog {
		padding-bottom: 35px;
	}
	.footer__title i {
		font-size: 13px;
		display: inline-block;
		transition: all 0.3s;
	}
	.footer__title.active i {
		transform: rotate(180deg);
	}
	.footer__title {
		padding: 11px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.modal-header__wrap {
		padding-top: 20px;
		height: calc(100vh - 62px);
		width: 100%;
		margin: 0;
	}
	.list-modal,
	.menu-modal {
		font-size: 14px;
		margin-bottom: 20px;
	}
	.list-modal li,
	.menu-modal li {
		margin-top: 15px;
	}
	.close-modal {
		top: -10px;
		right: 0;
		width: 20px;
		height: 20px;
		float: right;
		position: relative;
	}
	.title-min {
		font-size: 14px;
	}
	.modal-bottom {
		font-size: 13px;
		margin-bottom: 30px;
	}
	.wrapper {
		padding-top: 116px;
	}
	.item-category__image {
		height: 277px;
	}
	.categories {
		padding-bottom: 100px;
	}
	.sidebar-filter {
		display: none;
	}
	.title-sidebar {
		font-size: 14px;
		line-height: 17px;
		padding: 0 44px;
		color: #fff;
		margin-bottom: 20px;
		font-weight: 500;
		font-family: 'Montserrat';
		background-color: #007EFF;
		border-radius: 75px;
		height: 44px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-align: center;
		transition: all 0.3s;
		border: none;
	}
	.title-sidebar i {
		display: inline-block;
	}

	.btn-catalog,
	.header__right {
		display: none;
	}
	.header__center {
		text-align: left;
	}
	.header .logo img {
		max-width: 225px;
	}
	.item-billbord__content {
		position: relative;
		right: 0;
		top: 0;
	}
	.item-billbord__image {
		height: 303px;
	}
	.head-catalog .btn-main {
		position: relative;
		top: 0;
		right: 0;
	}
	.title-section {
		font-size: 26px;
		line-height: 32px;
	}
	.head-catalog .title-section {
		margin-bottom: 20px;
	}
	.head-catalog .btn-main {
		width: 100%;
		max-width: 290px;
	}
	.head-catalog {
		margin-bottom: 30px;
	}
	.swiper-catalog .swiper-arrows {
		margin-top: 15px;
	}
	.title-page {
		font-size: 24px;
		line-height: 28px;
	}
	.item-billbord .title-page {
		margin-bottom: 14px;
	}
	.item-billbord__content {
		padding-top: 17px;
	}
	.mySwiper .swiper-arrows {
		display: none;
	}
	.mySwiper {
		padding-bottom: 30px;
	}
	.header.nav-up {
		transform: translateY(-120px);
	}
	.search-header {
		margin-top: 12px;
		margin-bottom: 3px;
		display: block;
	}
	.search-header input {
		height: 30px;
		background: #FFFFFF;
		border-radius: 3px;
		border: none;
		padding: 0 30px;
		font-family: "Montserrat";
		font-size: 14px;
		line-height: 17px;
		width: 100%;
		background-image: url(../img/search.svg);
		background-repeat: no-repeat;
		background-position: 7px center;
	}
	.title-main {
		font-size: 30px;
		line-height: 38px;
	}
	.about .title-main {
		margin-bottom: 1px;
	}
	.descr-main {
		font-size: 16px;
		line-height: 20px;
	}
	.about .descr-main {
		margin-bottom: 23px;
	}
	.about .row .item-about {
		display: none;
	}
	.swiper-catalog .swiper-pagination {
		display: none;
	}
	.swiper-arrows .swiper-button-prev, .swiper-arrows .swiper-button-next {
		width: 34px;
		height: 34px;
		border: 1px solid #007EFF;
		border-radius: 50%;
		background-repeat: no-repeat;
		background-position: center;
	}
	.swiper-mobile {
		padding-bottom: 30px;
	}
	.about {
		padding-bottom: 15px;
	}
	.swiper-catalog_blog .swiper-pagination {
		display: block;
		bottom: 0;
	}
	.swiper-catalog_blog .swiper-arrows {
		display: none;
	}
	.swiper-catalog_blog {
		padding-bottom: 40px;
	}
	.item-catalog__image {
		height: 277px;
	}
	.catalog {
		padding-bottom: 15px;
	}
	.catalog_blog {
		padding-bottom:35px;
	}
	.image-about img {
		box-shadow: 0px 5px 15px #d6e4f4;
	}
	.swiper-mobile .item-about {
		margin: 0 15px;
	}
	.swiper-mobile {
		margin: 0 -15px;
	}
	.footer__title {
		font-size: 16px;
		padding-right: 10px;
	}
	.footer__item {
		border-bottom: 1px solid rgba(143, 143, 143, 0.5);
	}
	.footer__title_simple {
		padding-top: 16px;
		cursor: initial;
	}
	.footer .copyright {
		top: 0;
		position: relative;
		margin: 0;
		margin-top: 44px;
		left: 0;
	}
	.footer .row > div:first-child .footer__item {
		border-top: 1px solid rgba(143, 143, 143, 0.5);
	}
	.footer__nav a br {
		display: none;
	}
	.footer__content {
		padding: 10px 0;
	}
	.buttons-fixed {
		padding-top: 9px;
		padding-bottom: 5px;
		display: flex;
		justify-content: space-between;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 900;
		background-color: #000;
	}
	.btn-fixed {
		flex: 1;
		position: relative;
		text-align: center;
	}
	.btn-fixed__icon {
		height: 27px;
		margin-bottom: 3px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		position: relative;
	}
	.btn-fixed__icon img {
		max-width: 100%;
		max-height: 100%;
	}
	.btn-fixed__text {
		font-size: 9px;
		line-height: 10px;
		display: block;
		color: #8F8F8F;
	}
	.btn_top {
		bottom: 72px;
	}
	.btn-fixed__value {
		font-weight: 600;
		font-size: 12px;
		line-height: 15px;
		color: #fff;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background-color: #007EFF;
		position: absolute;
		top: -2px;
		left: 16px;
		right: 0;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.footer {
		padding-top: 25px;
		padding-bottom: 80px;
	}
	.close-modal {
		display: none;
	}
	.item-modal .menu-modal {
		display: none;
	}
	.item-modal .title-min {
		padding: 10px 0;
		padding-right: 10px;
		font-size: 16px;
		font-weight: 600;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.item-modal {
		border-bottom: 1px solid rgba(143, 143, 143, 0.5);
	}
	.modal-header__content .row > div:first-child .item-modal {
		border-top: 1px solid rgba(143, 143, 143, 0.5);
	}
	.modal-header_menu .modal-header__wrap {
		padding-top: 15px;
	}
	.modal-header__wrap {
		height: calc(100vh - 110px);
	}
	.modal-bottom .phone-main {
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 12px;
		margin-top: 10px;
		display: inline-block;
		color: #000000;
	}
	.item-modal .title-min i {
		font-size: 14px;
		display: inline-block;
		transition: all 0.3s;
	}
	.item-modal .title-min.active i {
		transform: rotate(180deg);
	}
	.item-modal .menu-modal li {
		margin-top: 10px;
	}
	.item-modal .menu-modal li a {
		color: #ABABAB;
	}
	.modal-header .location {
		font-size: 14px;
		line-height: 17px;
		color: #2F2F2F;
		margin-bottom: 29px;
		margin-top: 12px;
	}
	.sandwich.active .sw-topper {
		top: 12px;
		transform: rotate(45deg);
	}
	.sandwich.active .sw-bottom {
		opacity: 0;
	}
	.sandwich.active .sw-footer {
		top: 8px;
		transform: rotate(-45deg);
	}
	.modal-bottom__wrap {
		flex-direction: column;
		align-items: flex-start;
	}
	.modal-bottom__wrap a {
		margin: 0;
		margin-bottom: 10px;
	}
	.breadcumbs {
		font-size: 12px;
		line-height: 22px;
		padding-top: 24px;
		padding-bottom: 25px;
		color: #000;
		justify-content: flex-start;
		overflow: auto;
		white-space: nowrap;
		margin-right: -15px;
	}
	.breadcumbs li {
		margin-right: 6px;
	}
	.breadcumbs li::after {
		display: none;
	}
	.breadcumbs a {
		padding: 2px 18px;
		background: #E7E7E7;
		border-radius: 5px;
		display: inline-block;
		color: #000;
	}
	.swiper-images {
		margin-bottom: 15px;
	}
	.top-catalog {
		padding-bottom: 20px;
	}
	.sorting-wrap {
		display: none;
	}
	.tags-wrap {
		flex-wrap: nowrap;
		white-space: nowrap;
		overflow: auto;
		margin-bottom: 20px;
		margin-right: -15px;
	}
	.tabs::-webkit-scrollbar,
	.tags-wrap::-webkit-scrollbar {
		-webkit-appearance: none;
	}
	.tabs::-webkit-scrollbar:vertical,
	.tags-wrap::-webkit-scrollbar:vertical {
		width: 0px;
	}
	.tabs::-webkit-scrollbar:horizontal,
	.tags-wrap::-webkit-scrollbar:horizontal {
		height: 0px;
	}
	.tabs::-webkit-scrollbar-thumb,
	.tags-wrap::-webkit-scrollbar-thumb {
		background-color: transparent;
		border-radius: 10px;
	}
	.tabs::-webkit-scrollbar-track,
	.tags-wrap::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: transparent;
	}
	.title-sidebar {
		display: none;
	}
	.item-tag {
		font-size: 12px;
		margin-right: 10px;
	}
	.banner {
		padding: 25px 5px;
		padding-right: 15px;
		background-image: url(../img/bg_banner2.svg);
	}
	.banner__content {
		font-size: 24px;
		line-height: 29px;
		padding: 20px 26px;
		max-width: 325px;
		margin: 0 auto;
		padding-left: 40px;
		background-image: url(../img/bg_text2.svg);
	}
	.banner__content::after {
		top: auto;
		bottom: -17px;
		right: -8px;
	}
	.pager {
		margin-top: 20px;
	}
	.catalog-page {
		padding-bottom: 40px;
	}
	.head-filter {
		margin-bottom: 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.link-filter {
		font-size: 12px;
		line-height: 15px;
		color: #007EFF;
		display: inline-flex;
		align-items: center;
	}
	.link-filter img {
		margin-right: 10px;
	}
	.sidebar-filter {
		padding: 20px 0;
		padding-top: 10px;
	}
	.catalog-page_sertificats .swiper-images {
		padding-bottom: 20px;
	}
	.banner_discount .btn-main {
		display: none;
	}
	.banner_discount .banner__content::after {
		right: -8px;
	}
	.banner_discount .banner__content {
		min-height: 130px;
	}
	.card__for {
		order: -1;
	}
	.slider-nav__item {
		margin: 0 auto;
		max-width: 72px;
	}
	.slider-nav .slick-slide {
		padding: 0 5px;
	}
	.slider-nav {
		margin: 0 -5px;
	}
	.slider-nav .slick-arrow {
		top: 50%;
		margin: 0;
		bottom: auto;
		-webkit-transform: translate(0, -50%) rotate(-90deg);
		-ms-transform: translate(0, -50%) rotate(-90deg);
		transform: translate(0, -50%) rotate(-90deg);
	}
	.slider-nav .slick-prev {
		left: 0;
		right: auto;
	}
	.slider-nav .slick-next {
		right: 0;
		left: auto;
	}
	.card-video {
		margin: 0;
		max-width: 72px;
		margin-top: 0px;
		display: none;
	}
	.card .tabs {
		margin-top: 25px;
	}
	.tabs li {
		padding: 0 5px;
	}
	.tabs {
		margin: 0 -5px;
		margin-right: -15px;
		overflow: auto;
	}
	.tabs a {
		font-size: 15px;
		line-height: 22px;
		padding: 9px 14px;
	}
	.tab-container {
		padding-top: 20px;
	}
	.feature {
		font-size: 12px;
		line-height: 19px;
		margin-bottom: 5px;
	}
	.feature span:nth-child(2) {
		min-width: 134px;
	}
	.recomendation {
		padding-bottom: 20px;
		margin-left: calc((100% - 700px)/2);
	}
	.recomendation .title-section {
		padding-bottom: 20px;
	}
	.card {
		padding-bottom: 30px;
	}
	.recomendation + .footer {
		margin-top: 25px;
	}
	.tab-container .btn-main_dropdown {
		margin-top: 30px;
	}
	.swiper-gallery .swiper-slide {
		max-width: 600px;
	}
	.swiper-gallery .swiper-arrows {
		max-width: 700px;
	}
	.item-gallery {
		height: 310px;
	}
	.item-gallery.fancybox.fancybox::after {
		width: 60px;
		height: 60px; 
	}
	.swiper-gallery {
		margin-left: calc((100% - 690px)/2);
	}
	.reviews-block {
		display: block;
	}
	.reviews-info {
		margin-top: -20px; 
	}
	.gallery-wrapper .slider-nav { 
		display: none; 
	}
	.gallery-wrapper {
		padding-top: 0;
		padding-left: 15px;
		padding-right: 15px;
	}
	.gallery-wrapper .slider-for__item {
		height: 80vh; 
		max-height: 400px;
	}
	.slider-for .slick-dots {
		bottom: -25px;
	}   
	.gallery-wrapper .slider-for {
		margin: 0 auto;
	}
	.content-gallery {
		top: 50%;
		transform: translateY(-50%);
		position: relative;
	}
	.item-buy__image {
		margin-right: 15px;
	}
	.modal-wrapper {
		padding-top: 20px;
	}
	.modal-wrapper .item-buy {
		margin-bottom: 35px;
	}
	.line-price_main {
		font-size: 24px;
		line-height: 31px;
	}
	.title-form {
		font-size: 16px;
	}
	.item-advantage {
		font-size: 16px;
		line-height: 21px;
		max-width: 100%;
		margin: 0;
		margin-bottom: 15px;
	}
	.advantages-block {
		padding: 25px 15px;
		padding-bottom: 15px;
	}
	.dropdown-container .advantages-block {
		margin-top: 35px;
	}
	.swiper-gallery .title-slide {
		opacity: 1;
	}
	.item-step_1 .content-step {
		margin-top: 0;
	}
	.item-step_1 {
		margin-top: -80px;
		margin-bottom: -107px;
	}
	.item-step_1 .image-step {
		margin-bottom: -90px;
	}
	.content-step span {
		font-size: 70px;
		line-height: 80px;
		margin-right: 10px;
	}
	.item-step_2 .content-step {
		margin-left: 0;
	}
	.col_image {
		order: -1;
	}
	.item-step_2  .image-step {
		margin-bottom: -95px;
	}
	.item-step_2 {
		margin-bottom: -61px;
	}
	.item-step_3 .content-step {
		margin-top: 0;
	}
	.item-step_3 .image-step {
		margin-bottom: -72px;
	}
	.item-step_3 {
		margin-bottom: 30px;
	}
	.dropdown-container .swiper-gallery {
		margin-top: 35px;
	}
	.dropdown-container br {
		display: none;
	}
	.image-custom {
		margin-bottom: 20px;	
	}
	.title-descr {
		margin-bottom: 20px;
	}
	.custom-made .capcha, .custom-made .descr-form {
		max-width: 100%;	
	}
	.custom-made .btn-main {
		margin: 0 auto;	
		display: flex;	
	}
	.custom-made {
		padding-bottom: 50px;
	}
	.align-self-end .title-inspiration {
		min-height: initial;
		margin-bottom: 0;
	}
	.row_inspiration > div {
		margin-bottom: 25px;
	}
	.title-inspiration {
		font-size: 23px;
		line-height: 29px;
	}
	.inspiration {
		padding-bottom: 40px; 
	}
	.card__buttons_margin {
		margin-top: 25px;
	}
	.row_about_1 {
		margin-top: 25px;
	}
	.row_about_2 {
		margin-top: 0;
		margin-bottom: 0px;
	}
	.row_about_2 .about-main__text {
		padding-bottom: 0;
		text-align: left;
		order: 2;
	}
	.row_about_1 .about-main__text {
		margin-top: 0;
	}
	.about-main img {
		margin-bottom: 20px;
	}
	.support,
	.questions,
	.article,
	.subscirbe-section,
	.return,
	.delivery,
	.contacts,
	.about-main {
		padding-bottom: 65px;
		background-size: 915px auto;
		background-position: left 80% bottom -20px;
	}
	.link-contact {
		font-size: 16px;
	}
	.contacts-buttons {
		padding-bottom: 10px;
		flex-direction: column;
		align-items: flex-start;
	}
	.contacts-buttons .link-contact {
		margin-right: 0;
	}
	.feature-contacts {
		margin-bottom: 15px;
		display: block;
	}
	.feature-contacts__title {
		min-width: initial;
		margin: 0;
		margin-bottom: 5px;
	}
	.contacts .social-contacts {
		margin-top: 20px;
		margin-bottom: 25px;
	}
	.contacts {
		padding-bottom: 90px;
	}
	.form-contacts {
		max-width: 100%;
	}
	.delivery .list-main {
		margin-bottom: 25px;
	}
	.delivery {
		padding-bottom: 90px;
	}
	.return .title-text {
		margin-top: 25px;
		margin-bottom: 15px;
	}
	.form-return {
		margin-top: 30px;
	}
	.form-return .title-form {
		margin-bottom: 13px;
	}
	.btn-upload {
		min-width: 130px;
	}
	.file-upload {
		margin-bottom: 20px;
	}
	.return {
		padding-bottom: 135px;
	}
	.text-error {
		font-size: 15px;
		line-height: 19px;
		max-width: 273px;
		margin-top: 0;
	}
	.error {
		padding-top: 45px;
		padding-bottom: 40px;
	}
	.thanks .title-main {
		padding-top: 0;
		display: none;
	}
	.thanks .title-common {
		padding-bottom: 25px;
	}
	.image-thanks {
		margin-top: 35px;
	}
	.thanks .title-text {
		margin-bottom: 15px;
	}
	.video-main {
		margin-top: 0;
	}
	.video-main::after {
		width: 50px; 
		height: 50px;
		background-size: 20px auto;
	}
	.descr-video { 
		margin-bottom: 30px;
	}
	.corporate-gifts .title-section {
		margin-bottom: 25px;
	}
	.item-gift {
		margin-bottom: 30px !important;
		display: block;
	}
	.item-gift__image img {
		max-width: 100%;
		margin: 0 auto;
	}
	.item-gift__content {
		padding: 15px 0 0 0 !important;
		text-align: left !important;
	}
	.gifts-wrap {
		padding-bottom: 0;
	}
	.corporate-gifts {
		padding-bottom: 40px;
	}

	.title-modal {
		font-size: 26px;
		line-height: 33px;
		font-family: 'Source Serif Pro';
	}
	.modal-header_catalog .item-modal .title-min i {
		font-weight: 300;
		color: #ABABAB;
		margin-left: 20px;
	}
	.modal-header_catalog .modal-header__wrap {
		padding-left: 15px;
		padding-right: 15px;
	}
	.modal-header_catalog .item-modal .title-min {
		padding: 19px 0;
		font-size: 18px;
	}
	.modal-header_catalog .item-modal .menu-modal li a {
		color: #000;
	}
	.modal-header_catalog .item-modal .menu-modal  {
		font-size: 18px;
	}
	.modal-header_catalog .item-modal .menu-modal li {
		margin-top: 16px;
	}
	.modal-header_catalog .item-modal .menu-modal li:first-child {
		margin-top: 0;
	}
	.modal-header_catalog .modal-header__wrap {
		height: calc(100vh - 179px);
	}
	.modal-header_catalog .close-modal {
		top: 8px;
		display: block;
		opacity: 1;
		background-image: url(../img/close2.svg);
	}
	.modal-header_catalog .title-modal {
		margin-bottom: 70px;
	}
	.modal-header_catalog .item-modal:first-child {
		border-top: 1px solid rgba(143, 143, 143, 0.5);
	}
	.btn-fixed.active .btn-fixed__text {
		color: #fff;
	}
	.btn-fixed.active .btn-fixed__icon img {
		filter: invert(0) sepia(0) saturate(1) hue-rotate(0deg) brightness(5);
	}
	.card__right-sertificat {
		padding-top: 20px;
	}
	.card__controls {
		margin-top: 15px;
		margin-bottom: 25px;
	}
	.subscirbe-section {
		padding-top: 55px;
		padding-bottom: 170px;
	}
	.subscirbe-form {
		flex-direction: column;
		align-items: center;
	}
	.subscirbe-form .item-form {
		flex: none;
		width: 100%;
		margin-bottom: 15px;
	}
	.subscirbe-form .btn-main {
		margin: 0;
		width: 100%;
	}
	.article h3 {
		margin-top: 30px;
	}
	.article__left ol {
		padding-left: 20px;
	}
	.list-numbers {
		padding-left: 0 !important;
	}
	.article__left table th, .article__left table td {
		padding: 8px 10px;
	}
	.article__left table {
		font-size: 12px;
	}
	.descr-image {
		margin-bottom: 30px;
	}
	.row_images {
		margin: 0 -5px;
	}
	.row_images > div {
		padding: 0 5px;
	}
	.col-4 .descr-image {
		font-size: 10px;
		line-height: 13px;
	}
	.hidden-mob {
		display: none;
	}
	.image-article {
		margin-top: 20px;
	}
	.article .head-catalog {
		margin-top: 35px;
	}
	.article {
		padding-bottom: 160px;
	}
	.tabs-page {
		padding: 0;
	}
	.tab-container-page {
		padding-top: 20px;
	}
	.support,
	.questions {
		padding-bottom: 150px;
	}
	.item-category__image {
		height: 315px;
	}
	
	/*personal*/
	.nav-personal {
		padding-top: 16px;
		display: none;
	}
	.button-personal {
		margin-bottom: 25px;
	}
	.personal {
		padding-bottom: 50px;
	}
	.personal-mobile {
		margin-bottom: 20px;
		display: block;
	}
	.personal .title-section {
		padding-bottom: 20px;
	}
	.btn-main_personal {
		padding: 0 40px;
		justify-content: space-between;
		display: flex;
		width: 100%;
	}
	.btn-main_personal i {
		transition: all 0.3s;
	}
	.btn-main_personal.active i {
		transform: rotate(180deg);
	}
	.line-form {
		margin-bottom: 15px;
		display: block;
	}
	.line-form__title {
		width: 100%;
		margin: 0;
		margin-bottom: 10px;
	}
	.line-form .item-form {
		width: 100%;
		margin: 0;
		margin-bottom: 10px;
	}
	.block-personal {
		padding: 20px 15px;
	}
	.block-personal .btn-main {
		width: 100%;
	}
	.bind-personal {
		margin-top: 20px;
		padding-top: 15px;
		font-size: 12px;
		line-height: 16px;
	}
	.bind-personal__text {
		max-width: 226px;
		margin-right: 9px;
	}
	.personal .breadcumbs {
		margin-bottom: 12px;
	}
	.title-personal {
		font-size: 16px;
		line-height: 21px;
		margin-bottom: 15px;
	}
	.personal-orders {
		padding: 20px 15px;
	}
	.item-order__title {
		font-size: 15px;
		margin-bottom: 10px;
	}
	.item-order__head {
		margin-bottom: 15px;
		display: block;
	}
	.item-order__bottom {
		padding-top: 15px;
		flex-direction: column;
		align-items: flex-start;
	}
	.item-order__bottom .btn-main {
		margin-top: 15px;
	}
	.bottom-order-personal {
		padding: 15px;
		flex-direction: column;
	}
	.bottom-order-personal a {
		margin: 8px 0;
	}
	.form-flex {
		flex-direction: column;
		align-items: flex-start;
	}
	.form-flex .checkbox {
		margin-bottom: 15px;
	}
	.form-flex .link-simple {
		margin-bottom: 20px;
	}
	.column-big, .column-min {
		width: 100%;
	}
	.title-input {
		margin-top: 15px;
		margin-bottom: 10px;
	}
	.form-flex .link-page {
		margin: 0;
		margin-bottom: 15px;
	}
	.total-basket {
		margin-top: 15px;
		margin-bottom: 20px;
	}
	.basket-top__buttons {
		margin: 0;
		flex-wrap: wrap;
	}
	.basket-top__buttons .btn-main {
		width: 100%;
		margin-top: 15px;
	}
	.total-basket__left {
		margin-right: 20px;
	}
	.basket-top {
		margin-bottom: 30px;
	}
	.table-basket table,
	.table-basket table thead,
	.table-basket table tbody,
	.table-basket table tr,
	.table-basket table th,
	.table-basket table td {
		display: block;
		border: none;
	}
	.clear-table {
		float: none;
	}
	.table-basket td {
		padding: 10px 0;
	}
	.table-basket td:nth-child(5), .table-basket td:nth-child(3) {
		padding-top: 10px;
	}
	.remove-td {
		top: 25px;
		right: 15px;
		position: absolute;
	}
	.table-basket table tr {
		padding-top: 15px;
		position: relative;
		border-bottom: 1px solid #ABABAB;
	}
	.basket {
		padding-bottom: 60px;
	}
	.amount-table {
		text-align: left;
	}
	.clear-table {
		position: absolute;
		bottom: 17px;
		right: 0;
	}
	.table-basket th:last-child {
		padding: 0;
	}
	.table-basket .item-form_filter {
		margin-bottom: 15px;
		width: 100%;
	}
	.basket-inner .title-personal {
		margin-top: 0;
	}
	.basket-inner .title-common {
		padding-bottom: 20px;
	}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.mySwiper {
		margin: 0 -15px;
	}
	.item-billbord__image img {
		border-radius: 0;
	}
	.item-billbord__image {
		border-radius: 0;
		position: relative;
		z-index: 1;
	}
	.item-billbord__image::before {
		position: absolute;
		display: block;
		content: " ";
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.2);
	}
	.item-billbord__content {
		right: 0;
		left: 0;
		z-index: 2;
		width: initial;
	}
	.billbord {
		padding-top: 0;
	}
	.swiper-arrows {
		padding: 0 15px;
		margin-top: 20px;
		margin-right: 0;
		justify-content: space-between;
	}
	.column-about {
		order: -1;
	}
	.about p {
		margin-bottom: 20px;
	}
	.item-about {
		margin-bottom: 0;
	}
	.swiper-news {
		margin-left: 0;
	}
	
	.modal-header__wrap {
		padding-left: 0;
		padding-right: 0;
	}
	.results-wrap .title-section {
		font-size: 24px;
		line-height: 30px;
	}
	.result-descr {
		font-size: 13px;
	}
	.sorting-wrap p {
		font-size: 14px;
	}
	.value-sorting {
		font-size: 13px;
		line-height: 16px;
		margin-left: 0;
		margin-right: 10px;
	}
	.sorting-wrap p {
		width: 100%;
		margin-bottom: 10px;
	}
	.row_catalog > div {
		margin-bottom: 25px;
	}
	.results-wrap {
		padding-top: 25px;
	}
	.modal-header_location .search-form {
		max-width: 100%;
	}
	.search-dropdown {
		left: 0;
	}
	.item-billbord__image img {
		object-position: left top;
	}
	.title-common {
		font-size: 23px;
		line-height: 29px;
		padding-bottom: 25px;
	}
	.item-category {
		font-size: 16px;
		line-height: 21px;
		margin-bottom: 25px;
	}
	.item-category__image {
		margin-bottom: 15px;
	}
	.categories {
		padding-bottom: 60px;
	}
	.mySwiper {
		margin: 0;
	}
	.billbord {
		padding-top: 24px;
	}
	.item-billbord__image img,
	.item-billbord__image {
		border-radius: 20px;
	}
	.item-billbord__image::before {
		display: none;
	}
	.btn_top {
		right: 15px;
	}
	.swiper-arrows {
		justify-content: center;
	}
	/*youtube video inside fancybox*/
	.fancybox-type-iframe .fancybox-inner {
		height: auto !important;
	}
	.fancybox-type-iframe iframe{
		width: calc(100vw - 40px);
		height: calc(100vw/1.77);
	}
	.slider-for__item {
		height: 410px;
	}
	.recomendation {
		padding-left: 15px;
		margin-left: 0;
	}
	.item-catalog__image {
		height: 295px;
	}
	.tab-container .btn-main_dropdown {
		margin-top: 10px;
	}
	.dropdown-container {
		padding-top: 35px;
	}
	.dropdown-container h5, .top-catalog h5 {
		font-size: 16px;
	}
	.swiper-gallery .swiper-slide {
		max-width: 100%;
	}
	.item-gallery {
		height: 235px;
	}
	.swiper-gallery .swiper-arrows {
		margin-top: 20px;
		max-width: 100%;
	}
	.swiper-gallery {
		margin-right: 0;
	}
	.swiper-gallery {
		margin-left: 0;
		padding: 0 15px;
	}
	.swiper-recomendation .swiper-slide {
		margin-right: 0;
	}
	.recomendation {
		padding-right: 15px;
	}
	.swiper-recomendation .item-catalog {
		margin: 0 5px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.item-billbord__image {
		height: 343px;
	}
	.mySwiper .swiper-pagination-bullets {
		bottom: -8px;
	}
	.about {
		padding-top: 30px;
	}
	.search-form {
		max-width: 100%;
		margin-top: 20px;
	}
	.item-image {
		height: 320px;
	}
	.catalog-page_sertificats .item-catalog__image {
		height: 365px;
	}
	.slider-for__item {
		height: 335px;
	}
	.slider-nav {
		padding-left: 20px;
		padding-right: 20px;
	}
	.card__right .rating-wrap {
		display: block;
	}
	.card__right .rating-value {
		margin: 0;
		margin-top: 3px;
	}
	.card__right .price-main {
		font-size: 25px;
		line-height: 30px;
	}
	.card__buttons {
		margin: 15px -5px;
	}
	.card__buttons > div {
		padding: 0 5px;
	}
	.item-gallery {
		height: 185px;
	}
	.reviews-info {
		display: block;
		margin-top: 0;
	}
	.reviews-info__image {
		margin-top: -40px;
		margin-bottom: -20px;
	}
	.reviews-info__content {
		max-width: 100%;
	}
	.title-text {
		font-size: 16px;
	}
	.swiper-recomendation .item-catalog {
		margin: 0;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.swiper-news .swiper-slide_big {
		width: 790px;
	}
	.item-news_big {
		padding: 24px;
		min-height: initial;
		display: flex;
		flex-direction: row;
	}
	.item-news_big .item-news__image {
		height: 421px;
		width: 70%;
		border-radius: 0;
		flex: none;
	}
	.item-news_big .item-news__image img {
		border-radius: 0;
	}
	.item-news_big .item-news__content {
		margin-left: 25px;
		padding: 0;
	}
	.banner_discount {
		padding-right: 20px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.swiper-news .swiper-slide_big {
		width: 868px;
	}
	.sidebar-filter,
	.footer__content {
		display: block !important;
	}
	.show-mobile,
	.buttons-fixed,
	.swiper-mobile {
		display: none !important;
	}
	.catalog-page_accessories .item-sidebar {
		border: none;
		padding: 0;
	}
	.catalog-page_accessories .subtitle-sidebar i {
		display: none;
	}
	.catalog-page_accessories .subtitle-sidebar  {
		padding-top: 0;
	}
	.catalog-page_accessories .item-sidebar__content {
		padding-bottom: 0;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.container {
		max-width: 1200px;
	}
}
@media (min-width: 1600px) {
	.container {
		max-width: 1200px;
	}
}